
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');


.App {
  text-align: center;

}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-bottom: auto;
}

.App-header {
  height: 100vh;
  min-height:         55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  background-color: #272728;
  background-image: url(./assets/images/MuteLabsBackground_White.svg);
  background-size: 120%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
@media only screen and (max-width: 600px) {
  .App-header {
    align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 200%;
  }
  .App-logo {
    height: 20vmin;
  }
  .padding {
    padding-bottom: 60px!important;
  }
  
}
.padding {
  padding: 30px;
}

.mutelabs-label{
  font-family: 'Montserrat';
  font-weight: 100;
	font-size: 18px;
	font-size: 1rem;
  margin-top: auto;
}